{% extends "layout.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">MyFeedback</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">Add</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<header>
  <!--<h1 class="title">List of Feedbacks</h1>-->
</header>
<div class="input-group mb-3">
  <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Detail</th>
        <th scope="col">Location</th>
        <th scope="col">Image name</th>
        <th scope="col">Created date</th>
        </tr>
    </thead>
    <tbody>
      {%for id, title, detail, loc, img_name, created_date in feedbacks%}
      <tr>
        <td> {{id}} </td>
        <td> {{title.capitalize()}} </td>
        <td> {{detail}} </td>
        <td> {{loc}} </td>
        <td> {{img_name}} </td>
        <td> {{created_date}} </td>
      </tr>
      {%endfor%}
    </tbody>
    </table>
</div>

{% endblock %}